@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    @apply h-full bg-zinc-900 overflow-x-hidden
}

#root{
    @apply h-full
}
html{
    @apply h-full
}

@layer base{
    h2{
        @apply font-semibold text-xl text-slate-100 ;
    }
}
@layer components{
    
}
@layer utilities{
    .scrollbar-none{
        scrollbar-width: none;
    }
    .scroll-snap{
        scroll-snap-type: x mandatory;
    }
    .scroll-snap-start{
        scroll-snap-align:none start;
    }
    .leftscrollicon{
        
        background-image: url("../public/left-chevron-svgrepo-com.svg");
        
        background-size: cover;
        
        border: 1px solid black;
        border-radius: 50%;
        height: 6rem ;
        width: 6rem;
    
        cursor: pointer;
        }
        .rightscrollicon{
           
            background-image: url("../public/right-chevron-svgrepo-com.svg");
            
            background-size: cover;
            
            border: 1px solid black;
            border-radius: 50%;
            height: 6rem ;
            width: 6rem;
           
            cursor: pointer;
            }
}
